{{#if isLocked}}
  <p class="passcode-display__error-message">
    <em>LOCK OUT</em> {{humanizedTime}} remaining.
  </p>
{{/if}}
<p>
  <code class="passcode-display__code {{if isLocked 'passcode-display--error'}}">
    {{passcode-field code=code size=codeSize}}
  </code>
</p>
