<div class="virtual-keyboard__row">
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "1"}}>1</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "2"}}>2</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "3"}}>3</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "4"}}>4</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "5"}}>5</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "6"}}>6</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "7"}}>7</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "8"}}>8</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "9"}}>9</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "0"}}>0</button>
</div>
<div class="virtual-keyboard__row">
  <span class="virtual-keyboard__spacer virtual-keyboard--size1"></span>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "Q"}}>Q</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "W"}}>W</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "E"}}>E</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "R"}}>R</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "T"}}>T</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "Y"}}>Y</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "U"}}>U</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "I"}}>I</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "O"}}>O</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "P"}}>P</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--lg virtual-keyboard__key--delete"
          disabled={{disableDelete}}
          onclick={{action "keyPress" "clearKey"}}>Delete</button>
</div>
<div class="virtual-keyboard__row">
  <span class="virtual-keyboard__spacer virtual-keyboard--size2"></span>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "A"}}>A</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "S"}}>S</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "D"}}>D</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "F"}}>F</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "G"}}>G</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "H"}}>H</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "J"}}>J</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "K"}}>K</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "L"}}>L</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--lg virtual-keyboard--primary virtual-keyboard__key--verify"
      disabled={{disableVerify}}
      onclick={{action "keyPress" "verify"}}>{{verifyLabel}}</button>
</div>
<div class="virtual-keyboard__row">
  <span class="virtual-keyboard__spacer virtual-keyboard--size3"></span>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "Z"}}>Z</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "X"}}>X</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "C"}}>C</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "V"}}>V</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "B"}}>B</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "N"}}>N</button>
  <button class="virtual-keyboard__key virtual-keyboard__key--letter" onclick={{action "keyPress" "sendKey" "M"}}>M</button>
</div>
