@import 'layout.css';
@import 'vt323-font.css';
@import 'crt-theme.css';
@import 'components/virtual-keyboard.css';
@import 'components/passcode-display.css';
@import 'components/button.css';
@import 'components/blink.css';
@import 'components/panel.css';
@import 'components/logo.css';

.warning {
  color: red;
}

.info {
  color: gold;
}

.center {
  margin: auto;
}

.clear {
  clear: both;
}

.clickable {
  cursor: pointer;
}
