@keyframes blink {
  0% { background-color: #383838; color: #14fdce; }
  100% { color: #383838; background-color: #14fdce; }
}

@-webkit-keyframes blink {
  0% { background-color: #383838; color: #14fdce; }
  100% { color: #383838; background-color: #14fdce; }
}

.blink {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  -webkit-animation-name: blink;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
