.button {
  display: inline;
  font-family: 'VT323';
  font-size: 36pt;
  color: #fff;
  background-color: #333;
  text-align: center;
  padding: 8px;
  margin: 8px auto;
  line-height: 29px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button--blk {
  display: block;
}

.button:disabled {
  background-color: #ccc;
}

.button--active {
  background-color: #bada55;
}

.button--lg {
  padding: 16px;
}
