@media only screen and (orientation:portrait) {
  .logo {
    top: 420px;
  }
}

@media only screen and (orientation:landscape) {
  .logo {
    top: 300px;
  }
}

.logo {
  position: absolute;
  width: 320px;
  height: 320px;
  margin-left: -160px;
}

.mini-logo {
  width: 128px;
  height: 128px;
}

