.panel__inner {
  border-radius: 8px;
  background-color: #333;
  margin: 0;
  padding: 5px 5px;
}

@media only screen and (orientation:portrait) {
  .panel .button {
    font-size: 0.9em;
  }
  .panel__inner {
    width: 650px;
    margin-bottom: 20px;
  }
}

@media only screen and (orientation:landscape) {
  .panel {
    width: 910px;
  }
  .panel__inner {
    width: 450px;
    height: 250px;
  }
  .panel__inner--left {
    float: left;
  }
  .panel__inner--right {
    float: right;
  }
}
