.virtual-keyboard {
  margin: 0;
  padding: 0;
  color: #eee;
}

.virtual-keyboard__row {
  clear: both;
}

.virtual-keyboard__key {
  width: 60px;
  height: 60px;
  display: block;
  font-family: 'VT323';
  font-size: 36pt;
  color: #fff;
  background-color: #333;
  text-align: center;
  padding-left: 8px;
  line-height: 29px;
  border: none;
  border-radius: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}

.virtual-keyboard__row .virtual-keyboard__key {
  float: left;
}

.virtual-keyboard__spacer {
  width: 0px;
  height: 60px;
  display: block;
  text-align: left;
  padding-left: 8px;
  line-height: 29px;
  border: none;
  border-radius: 2px;
  float: left;
  margin-left: 2px;
  margin-bottom: 2px;
}

.virtual-keyboard__key:disabled {
  background-color: #ccc;
}

.virtual-keyboard__key--lg {
  width: 140px;
}

.virtual-keyboard__key--xlg {
  width: 220px;
}

.virtual-keyboard--size1 {
  width: 20px;
}

.virtual-keyboard--size2 {
  width: 60px;
}

.virtual-keyboard--size3 {
  width: 100px;
}

.virtual-keyboard--primary {
  background-color: #bada55;
}

@media only screen and (orientation:portrait) {
  .virtual-keyboard {
    position: absolute;
    bottom: 120px;
    left: 20px;
  }
  .virtual-keyboard__key--delete {
    position: absolute;
    top: 270px;
    left: 440px;
  }
  .virtual-keyboard__key--verify {
    position: absolute;
    top: 270px;
    left: 60px;
  }
}

@media only screen and (orientation:landscape) {
  .virtual-keyboard {
    position: absolute;
    bottom: 40px;
    left: 50px;
  }
  .virtual-keyboard__key--delete {
    position: relative;
    top: -40px;
    left: 50px;
  }
  .virtual-keyboard__key--verify {
    position: relative;
    top: 0px;
    left: 70px;
  }
}
