<!DOCTYPE html>
<html manifest="manifest.appcache">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Escape New Haven Mainframe</title>
    <meta name="description" content="Escape New Haven mainframe mini game">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" href="{{rootURL}}/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{rootURL}}/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{rootURL}}/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{rootURL}}/touch-icon-ipad-retina.png">

    <link rel="apple-touch-startup-image" href="{{rootURL}}/startup.png">

    <script type='text/javascript'>
      window.addEventListener('load', function (e) {
        window.applicationCache.addEventListener('updateready', function (e) {
          if (window.applicationCache.status === window.applicationCache.UPDATEREADY) {
            window.applicationCache.swapCache();
            window.location.reload();
          }
        }, false);
      }, false);
    </script>

    {{content-for "head"}}

    <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}assets/escape-room-mainframe.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/escape-room-mainframe.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
