<div class="outer">
  <div class="middle">
    <div class="inner">
      <div class="frame noisy">
        <div class="piece output">
          <div class="text-interface">
            <h1>{{loading-message}}</h1>
            {{inline-svg "logo.svg" class="logo"}}
          </div>
        </div>
        <div class="piece scanlines noclick"></div>
        <div class="piece glow noclick"></div>
      </div>
    </div>
  </div>
</div>
