<div class="outer">
  <div class="middle">
    <div class="inner">
      <div class="frame noisy">
        <div class="piece output {{if showAnimations 'output--with-animations'}}">
          {{outlet}}
        </div>
        {{#if showAnimations}}
          <div class="piece scanlines noclick"></div>
          <div class="piece glow noclick"></div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
