<div class="text-interface">
  <p>Success!</p>

  <p>SELF-DESTRUCT SEQUNCE RESUMED</p>

  <p>Please note: To exit the craft, remember to<br>DISENGAGE the ESCAPE POD DEADLOCK.</p>

  <p>In an emergency, ship's GLOVE COMPARTMENT can be accessed with the combination <code class="info">{{cabinetCode}}</code>.</p>

  <p>DO NOT PANIC.</p>
</div>

{{virtual-keyboard
    disabled=true
    sendKey=(action "registerKey")
    clearKey=(action "deleteKey")
    verify=(action "verifyCode")}}
