<div class="text-interface">
  <p>ACCESS GRANTED</p>
  <p>Self-destruct sequence resuming...</p>
  {{progress-bar whenDone=(action "nextPrompt")}}
</div>

{{virtual-keyboard
    disabled=true
    sendKey=(action "registerKey")
    clearKey=(action "deleteKey")
    verify=(action "verifyCode")}}
