<div class="text-interface">
  <p>First security check passed. Second-factor verification required.</p>

  <p>Input name of NAVIGATION REFERENCE CONSTELLATION to proceed.</p>

  {{passcode-display
      code=enteredCode
      codeSize=codeSize
      lockoutTime=lockoutTimeLeft}}
</div>

{{virtual-keyboard
    disabled=lockout.isRunning
    verifyReady=verifyReady
    sendKey=(action "registerKey")
    clearKey=(action "deleteKey")
    verify=(action "verifyCode")}}
