<div class="text-interface">
  <p>Second security check passed. Third-factor verification required.</p>

  <p>Input current total LIGHT YEARS TRAVELLED to proceed.</p>

  {{passcode-display
      code=enteredCode
      codeSize=codeSize
      lockoutTime=lockoutTimeLeft}}
</div>

{{virtual-keyboard
    disabled=lockout.isRunning
    verifyReady=verifyReady
    sendKey=(action "registerKey")
    clearKey=(action "deleteKey")
    verify=(action "verifyCode")}}
