<div class="text-interface">
  <p>ACCESS DENIED.</p>

  <p>Operation paused. Verification required to continue.</p>

  <p>Input 10-digit WEAPONS ACCESS CODE to proceed.</p>

  {{#if lockout.isIdle}}
    <p><span class="warning">Warning</span>: Incorrect inputs will result in a 2-minute lockout.</p>
  {{/if}}

  {{passcode-display
      code=enteredCode
      codeSize=codeSize
      lockoutTime=lockoutTimeLeft}}
</div>

{{virtual-keyboard
    disabled=lockout.isRunning
    verifyReady=verifyReady
    sendKey=(action "registerKey")
    clearKey=(action "deleteKey")
    verify=(action "verifyCode")}}
