<div class="text-interface">
  <div class="panel">
    <div class="panel__inner panel__inner--left">
      {{#check-box checked=(readonly settings.enableAmbientSounds) update=(action (mut settings.enableAmbientSounds))}}
        Ambient Alarms
      {{/check-box}}

      {{#check-box checked=(readonly settings.enableKeyboardSounds) update=(action (mut settings.enableKeyboardSounds))}}
        Keyboard Sounds
      {{/check-box}}

      {{#check-box checked=(readonly settings.enableEffectSounds) update=(action (mut settings.enableEffectSounds))}}
        Sound Effects
      {{/check-box}}

      {{#check-box checked=(readonly settings.enableAnimations) update=(action (mut settings.enableAnimations))}}
        Screen Glow
      {{/check-box}}
    </div>

    <table class="panel__inner panel__inner--right">
      <tbody>
        <tr class="clickable" onclick={{action "selectInput" "passcodes.staffCode"}}>
          <td align="right">Staff Code:</td>
          <td>
            {{passcode-field
                code=passcodes.staffCode
                size=inputSize
                hasFocus=(eq currentInput "passcodes.staffCode")}}
          </td>
        </tr>
        <tr class="clickable" onclick={{action "selectInput" "passcodes.prompt1Code"}}>
          <td align="right">Weapons Code:</td>
          <td>
            {{passcode-field
                code=passcodes.prompt1Code
                size=inputSize
                hasFocus=(eq currentInput "passcodes.prompt1Code")}}
          </td>
        </tr>
        <tr class="clickable" onclick={{action "selectInput" "passcodes.prompt2Code"}}>
          <td align="right">Constellation:</td>
          <td>
            {{passcode-field
                code=passcodes.prompt2Code
                size=inputSize
                hasFocus=(eq currentInput "passcodes.prompt2Code")}}
          </td>
        </tr>
        <tr class="clickable" onclick={{action "selectInput" "passcodes.prompt3Code"}}>
          <td align="right">Light Years Code:</td>
          <td>
            {{passcode-field
                code=passcodes.prompt3Code
                size=inputSize
                hasFocus=(eq currentInput "passcodes.prompt3Code")}}
          </td>
        </tr>
        <tr class="clickable" onclick={{action "selectInput" "passcodes.cabinetCode"}}>
          <td align="right">Cabinet Code:</td>
          <td>
            {{passcode-field
                code=passcodes.cabinetCode
                size=inputSize
                hasFocus=(eq currentInput "passcodes.cabinetCode")}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    Anytime the keyboard is visible you can tap the code <code class="info">{{passCodes.staffCode}}</code> to reset the game. This will work even when the <em>lockout</em> timer is running.
  </div>

  <button class="button" onclick={{action "resetSettings"}}>
    Factory Reset
  </button>
</div>

{{virtual-keyboard
    verifyLabel="Back"
    verifyReady=true
    sendKey=(action "registerKey")
    clearKey=(action "deleteKey")
    verify=(action "navigateBack")}}
