<div class="text-interface">
  <h2>Space Station Mainframe</h2>

  <h3>Escape New Haven</h3>

  {{inline-svg "logo.svg" class="mini-logo"}}

  <p>
    Version: {{app-version}}<br>
    By: <a href={{author.website}}>{{author.name}}</a> &copy; {{author.copyright}}
  </p>

  <p>
    {{#link-to "prompt1" tagName="button" class="button button--blk button--lg button--active action-start"}}
      Start Game
    {{/link-to}}

    {{#link-to "settings" tagName="button" class="button button--blk button--lg action-settings"}}
      Settings
    {{/link-to}}

    {{#if (can "quit application")}}
      <button type="button"
              class="button button--blk button--lg action-quit"
              onclick={{action "quitApp"}}>
        Quit
      </button>
    {{/if}}
  </p>
</div>
